[Unit]
Description=update distri
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u upgrade_distri.py
WorkingDirectory=/home/pi/replay_video/app
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
