{% extends 'base.html' %}

{% block body %}
    <h1> {% if video %}Modification de la{% else %}Ajout d'une{% endif %} vidéo</h1>
    <div id="nav-bar">
        <a
            href="{{ url_for('database_list') }}"
            class="btn-circle" title="Retour"><span class="icon arrow-circle-left"></span>
        </a>
    </div>
    <main>
        <div class="block">
            <form method="post">
                <div class="block-body">
                    <div class="form-group">
                        <label class="label" for="title">Titre</label>
                        <input class="value" type="text" id="title" name="title" value="{% if item %}{{ item.title }}{% endif %}" required>
                    </div>
                </div>
                <div class="block-footer">
                    <button class="btn btn-primary" type="submit">Modifier</button>
                </div>
                <input type="hidden" id="id" name="id" value="{% if item %}{{ item.id }}{% endif %}">
            </form>
        </div>
    </main>
{% endblock %}
