{% extends 'base.html' %}

{% block body %}
    <h1>Administration</h1>
    <div id="nav-bar">
        <a href="{{ url_for('home') }}" class="btn-circle" title="Retour">
            <span class="icon arrow-circle-left"></span>
        </a>
    </div>
    <main>
        <div class="block">
            <h2>Etats des services</h2>
            <div class="row col-3">
                {% for service in services %}
                    <div>
                        <span class="badge icon {% if service.value %}check-circle success{% else %}times-circle alert-warning{% endif %}"></span>
                        <span>{{ service.label }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="block">
            <h2>Outils</h2>
            <ul>
                <li>
                    <a href="{{ url_for('video_new') }}" title="Ajouter une vidéo" class="li-btn">
                        <span class="badge primary icon file-video"></span> Ajouter une vidéo</a>
                </li>
                <li>
                    <a href="" title="Rechercher les téléchargements disponibles" class="li-btn disabled">
                        <span class="badge primary icon download"></span> Rechercher les téléchargements disponibles</a>
                </li>
                <li>
                    <a href="{{ url_for('database_list') }}" title="Gérer la liste des émissions et des chaînes" class="li-btn">
                        <span class="badge primary icon database"></span> Gérer la liste des émission et des chaînes</a>
                </li>
                <li>
                    <a href="" title="Rechercher une mise à jour" class="li-btn disabled">
                        <span class="badge primary icon cogs"></span> Rechercher une mise à jour</a>
                </li>
                <li>
                    <a href="{{ url_for('network_edit') }}" title="Modifiers les paramètres réseaux" class="li-btn">
                        <span class="badge primary icon wifi"></span> Modifiers les paramètres réseaux</a>
                </li>
                <li>
                    {% if device.usb_device %}
                        <a href="{{ url_for('mount_usb_device') }}" title="Ejecter le disque usb" class="li-btn">
                            <span class="badge primary icon eject"></span> Ejecter le disque usb</a>
                    {% else %}
                        <a href="{{ url_for('unmount_usb_device') }}" title="Monter le disque usb" class="li-btn">
                            <span class="badge primary icon usb"></span> Monter le disque usb</a>
                    {% endif %}
                </li>
                {% if device.is_videos_dir_initialized() is sameas false %}
                    <li>
                        <a href="{{ url_for('init_videos_dir') }}" title="Préparer le disque usb" class="li-btn">
                            <span class="badge primary icon hdd"></span> Préparer le disque usb</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </main>

{% endblock %}