{% extends 'base.html' %}

{% block body %}
    <h1> {% if video %}Modification de la{% else %}Ajout d'une{% endif %} vidéo</h1>
    <div id="nav-bar">
        <a
            {% if video %}
                href="{{ url_for('video_show', video_id=video.id) }}"
            {% else %}
                href="{{ url_for('video_new') }}"
            {%endif %}
            class="btn-circle" title="Retour"><span class="icon arrow-circle-left"></span>
        </a>
    </div>
    <main>
        <div class="block">
            <form method="post">
                <div class="block-body">
                    <div class="form-group">
                        <label class="label" for="title">Titre</label>
                        <input class="value" type="text" id="title" name="title" value="{% if video %}{{ video.title }}{% endif %}" required>
                    </div>
                    <div class="form-group">
                        <label class="label" for="program_id">Emission</label>
                        <select type="text" name="program_id" id="program_id" class="select2-single value"
                                data-ajax--url="{{ url_for('program_list_ajax') }}" data-tags="true">
                            <option value="{{ video.program_id }}">{{ video.program}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label" for="broadcast_at">Date de diffusion</label>
                        <input class="value" type="date" id="broadcast_at" name="broadcast_at" value="{% if video %}{{ video.broadcast_at }}{% endif %}" required>
                    </div>
                    <div class="form-group">
                        <label class="label" for="channel_id">Chaîne</label>
                        <select type="text" name="channel_id" id="channel_id" class="select2-single value"
                                data-ajax--url="{{ url_for('channel_list_ajax') }}" data-tags="true">
                            <option value="{{ video.channel_id }}">{{ video.channel}}</option>
                        </select>
                    </div>
                    {% if file_list %}
                        <div class="form-group">
                            <label class="label" for="file">Nom du fichier</label>
                            <select type="text" name="file" id="file" class="select2-single value"
                                    data-ajax--url="{{ url_for('file_list_ajax') }}" data-tags="false">
                                <option value="{{ current_file.md5 }}">{{ current_file.filename}}</option>
                            </select>
                        </div>
                    {% endif %}
                </div>
                <div class="block-footer">
                    <button class="btn btn-primary" type="submit">Valider</button>
                </div>
                <input type="hidden" id="id" name="id" value="{% if video %}{{ video.id }}{% endif %}">
            </form>
        </div>
    </main>
{% endblock %}
