{% extends 'base.html' %}

{% block body %}
    <h1> Paramètres wifi</h1>
    <div id="nav-bar">
        <a href="{{ url_for('tools') }}"  class="btn-circle" title="Retour">
            <span class="icon arrow-circle-left"></span>
        </a>
    </div>
    <main>
        <div class="block">
            <form method="post">
                <div class="block-body">
                    <div class="form-group">
                        <label class="label" for="ssid">Nom (SSID)</label>
                        <input class="value" type="text" id="ssid" name="ssid" value="{{ network.ssid }}" required>
                    </div>
                    <div class="form-group">
                        <label class="label" for="psk">Mot de passe</label>
                        <input class="value" type="password" id="psk" name="psk" value="{{ network.psk }}" required>
                    </div>
                    <br>
                    <div class="form-group-container">
                        {% set dhcp="" %}
                        {% set dhcp_prop="required" %}
                        {% if network.dhcp %}
                            {% set dhcp="checked" %}
                            {% set dhcp_prop="disabled" %}
                        {% endif %}
                        <div class="form-group">
                            <label class="label" for="dhcp">Automatique (DHCP)</label>
                            <label class="switch">
                                <input class="value" type="checkbox" id="dhcp" name="dhcp" {{ dhcp }}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="label" for="address">Adresse ip</label>
                            <input class="value" type="text" id="address" name="address"
                                   value="{% if network.address %}{{ network.address }}{% endif %}" {{ dhcp_prop }}>
                        </div>
                        <div class="form-group">
                            <label class="label" for="netmask">Masque sous-réseau</label>
                            <input class="value" type="text" id="netmask" name="netmask"
                                   value="{% if network.netmask %}{{ network.netmask }}{% endif %}" {{ dhcp_prop }}>
                        </div>
                        <div class="form-group">
                            <label class="label" for="gateway">Route par défaut</label>
                            <input class="value" type="text" id="gateway" name="gateway"
                                   value="{% if network.gateway %}{{ network.gateway }}{% endif %}" {{ dhcp_prop }}>
                        </div>
                    </div>

                    <br>
                    <div class="form-group-container">
                        {% set dns="" %}
                        {% set route_prop="required" %}
                        {% if network.dns %}
                            {% set dns="checked" %}
                            {% set route_prop="disabled" %}
                        {% endif %}
                        <div class="form-group">
                            <label class="label" for="dns">Automatique (DNS)</label>
                            <label class="switch">
                                <input class="value" type="checkbox" id="dns" name="dns" {{ dns }}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="label" for="dns_nameservers">Serveur dns</label>
                            <input class="value" type="text" id="dns_nameservers" name="dns_nameservers"
                                   value="{% if network.dns_nameservers is not none %}{{ network.dns_nameservers }}{% endif %}" {{ route_prop }}>
                        </div>
                    </div>
                </div>
                <div class="block-footer">
                    <button class="btn btn-primary" type="submit">Valider</button>
                </div>
                <input type="hidden" id="id" name="id" value="{{ network.id }}">
            </form>
        </div>
    </main>
{% endblock %}
