{% extends 'base.html' %}

{% block body %}
    <h1>Mise à jour</h1>
    <div id="nav-bar">
        <a href="{{ url_for('tools') }}" class="btn-circle">
            <span class="icon arrow-circle-left"></span>
        </a>
    </div>
    {% set footer %}
        <a href="{{ url_for('tools') }}" class="btn btn-primary" title="Fermer">Fermer</a>
    {% endset %}
    {% if not tag %}
        {% set content %}
            <p><span class="badge icon check-circle success"></span> Vous avez la version la plus récente</p>
        {% endset %}
    {% elif status == 0 and tag %}
        {% set content %}
            <p>Une nouvelle mise à jour est disponible</p>
        {% endset %}
        {% set footer %}
            <form name="version_upgrade" method="post">
                <button class="btn btn-primary" type="submit">Mettre à jour maintenant</button>
                <input type="hidden" id="tag" name="tag" value="{{ tag }}">
                <a href="{{ url_for('tools') }}" class="btn btn-default" title="Plus tard">Plus tard</a>
            </form>

        {% endset %}
    {% elif status == 2 %}
        {% set content %}
            <p><span class="badge icon check-circle success"></span> Mise à jour effectuée avec succes</p>
        {% endset %}
    {% elif status == 3 %}
        {% set content %}
            <p><span class="badge icon times-circle alert-warning"></span> Une erreur est survenue durant la mise à jour</p>
        {% endset %}
    {% endif %}
    <main>
        <div id="version-upgrade" class="block">
            <div class="block-body">
                {{ content }}
                <div class="loader-container hidden">
                    <span class="loader"></span> <span >Mise à jour en cours ...</span>
                </div>
            </div>
            <div class="block-footer">
                {{ footer }}
            </div>
        </div>
    </main>

{% endblock %}