{% extends 'base.html' %}

{% block body %}
    <h1>Ajouter une vidéo</h1>
    <div id="nav-bar">
        <a href="{{ url_for('tools') }}" class="btn-circle">
            <span class="icon arrow-circle-left"></span>
        </a>
    </div>
    <main>
        <div id="videoList" class="block">
            <div class="block-body">
                <h2>Liste des fichier non attribués</h2>
                {% if unassigned_files|length %}
                <ul>
                    {% for file in unassigned_files %}
                        <li><a href="{{ url_for('video_edit', filename=file.filename) }}">
                            {{ file.filename}}
                        </a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Auncun fichier non attribué</p>
                {% endif %}
            </div>
        </div>
        <div class="block-footer">
            <a href="{{ url_for('download_add') }}" class="btn btn-primary btn-xl" title="Ajouter une vidéo"><span class="icon cloud-download-alt"></span> Télécharger une vidéo depuis une url</a>
        </div>
    </main>

{% endblock %}