{% extends 'base.html' %}

{% block body %}
    <h1>{{ video.title }} </h1>
    <div id="nav-bar">
        <a href="{{ url_for('home') }}" class="btn-circle" title="Retour">
            <span class="icon arrow-circle-left"></span>
        </a>
    </div>
    <main>
        <div id="video_detail" class="block">
            <div class="block-body">
                <div class="form-group">
                    <ul>
                        <li><span class="label">Emission</span><span class="value">{{ video.program }}</span></li>
                        <li><span class="label">Titre</span><span class="value">{{ video.title }}</span></li>
                    </ul>
                </div>
                <div class="row video-detail">
                    <div>
                        <ul>
                            <li><span class="label">Date de diffusion</span><span class="value">{{ fromisoformat(video.broadcast_at).strftime('%d-%m-%Y') }}</span></li>
                            <li><span class="label">Chaîne</span><span class="value">{{ video.channel }}</span></li>
                            <li><span class="label">Durée</span><span class="value">{{ video.duration }}</span></li>
                            <li>
                                <span class="label">status</span>
                                <span id="videoStatus" class="value">
                                    {{ video.status }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="thumbnail-container">
                        {% if video.filename and video.status == 2 %}
                        <img src="data:image/jpeg;charset=utf-8;base64,{{ image }}" alt="">
                        <a href="{{ url_for('video_thumbnail', video_id=video.id) }}" title="Modifier l'apperçu'"
                            class="modal-trigger" data-toggle="modal" data-type="danger">
                            <span class="badge primary icon pencil-alt"></span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="block-footer">
                <div id="downloadStatus" class="status-download" data-video-id="{{ video.id }}">
                    <span class="badge icon {{ status_data[video.status].badge }}"></span>
                    <span class="value">{{status_data[video.status].text}}</span>
                    {% if video.status == 1 %}
                        <a href="{{ url_for('video_reload', video_id=video.id) }}" title="Relancer le téléchargement"
                            id ="video-reload">
                            <span class="badge primary icon download"></span>
                        </a>
                    {% endif %}
                    {% if video.status == 3 %}
                        <a href="{{ url_for('download_add', video_id=video.id) }}" title="Modifier l'url de téléchargement">
                            <span class="badge primary icon download"></span>
                        </a>
                    {% endif %}
                </div>
                <a href="{{ url_for('video_edit', video_id=video.id) }}" class="btn btn-primary"><span class="icon edit"></span> Modifier</a>
            </div>
        </div>

        <div id="video-player-panel" class="block {% if video.status != 2 %}hidden{% endif %}">
            <div class="block-body video-player">
                <a href="{{ url_for('video_play', video_id=video.id) }}" id="play"
                   class="btn btn-primary btn-xl btn-video{% if action == 'play' %} active{% endif %}" title="Lecture">
                    <span class="icon play-circle"></span> <span>Lecture</span>
                </a>
                <a href="{{ url_for('video_pause', video_id=video.id) }}" id="pause"
                   class="btn btn-primary btn-xl btn-video{% if action == 'pause' %} active{% endif %}" title="Mettre en pause">
                    <span class="icon pause-circle"></span> <span>Pause</span>
                </a>
                <a href="{{ url_for('video_quit', video_id=video.id) }}" id="stop"
                   class="btn btn-primary btn-xl btn-video" title="Stop">
                    <span class="icon stop-circle"></span> <span>Stop</span>
                </a>
            </div>
        </div>

    </main>
{% endblock %}
